@model Domain.Entities.contract

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.costContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateSending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insured_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insured_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policy_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policy_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
